:root {
  --bg1: `url("Assets/Image/software-image-5.png") `;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Manrope", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
._container {
  max-width: 1140px;
}

.hover_parent:hover .child_effect {
  margin-left: 2px;
}
.child_effect {
  transition: margin 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hover-underline-animation {
  position: relative;
  text-decoration: none;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  background-color: #7d8dff;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

.hover-underline-animation:hover:after {
  width: 100%;
}

._button_parent:hover .child_button {
  margin-left: 5px;
}
.child_button {
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
._icon:hover {
  margin-bottom: 3px;
}
.aboutbg {
  background-image: url(../src/Assets/Image/about-image6.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
  width: 100%;
}
._blogimg1 {
  background-image: url(Assets/Image/software-image-1.png);
  background-size: cover;
}
._blogimg3 {
  background-image: url(Assets/Image/software-image-2.png);
  background-size: cover;
}
._blogimg2 {
  background-image: url(Assets/Image/software-image-3.png);
  background-size: cover;
}
._blogimg4 {
  background: linear-gradient(rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.54)),
    url(Assets/Image/software-image-4.png) #444;
  background-size: cover;
  background-position: center;
}
._blogimg5 {
  background: linear-gradient(rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.54)),
    url(Assets/Image/software-image-5.png) #444;
  background-size: cover;
  background-position: center;
}
._blogimg6 {
  background: linear-gradient(rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.54)),
    url(Assets/Image/blog-sidebarimage-1.jpg) #444;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
._blogimg7 {
  background: linear-gradient(rgba(0, 0, 0, 0.74), rgba(0, 0, 0, 0.74)),
    url(Assets/Image/software-image-1-622x400.png) #444;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

._blogimg9 {
  background: linear-gradient(rgba(0, 0, 0, 0.74), rgba(0, 0, 0, 0.74)),
    url(Assets/Image/software-image-2-622x400.png) #444;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
._blogimg8 {
  background: linear-gradient(rgba(0, 0, 0, 0.74), rgba(0, 0, 0, 0.74)),
    url(Assets/Image/software-image-3-622x400.png) #444;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
._postimg1 {
  background-image: url(Assets/Image/blogimg1.png);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
._postimg2 {
  background-image: url(Assets/Image/blogimg2.png);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
._postimg3 {
  background-image: url(Assets/Image/blogimg3.png);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
._postimg4 {
  background-image: url(Assets/Image/blogimg4.png);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
._input:focus {
  outline: none;
}
._card:hover ._child {
  color: black;
  transition-duration: 1s;
}
